header {
    background-color: purple;
    height: 150px;
    color: white;
    position: relative;
}

header h1 {
    position: absolute;
    top: 25%;
    left: 10px;
}

div.left {
    float: left;
    box-sizing: border-box;
    /* width: 30%; */
}

div.left ul {
    list-style: none;
}

div.left ul li {

    margin-bottom: 5px;
    background-color: darkblue;
    color: #fff;

}

div.left ul li:hover {
    background-color: purple;
}

div.left ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.current {
    pointer-events: none;
    background-color: purple;
}

div.right {
    float: right;
    width: 60%;
}

section {
    clear: both;
    padding: 10px;
}

figure {
    float: left;
}

figure img {
    width: 120px;
}

figure+p {
    clear: both;

    header h1 {
        position: absolute;
        top: 25%;
        left: 10px;
    }

    div.left {
        float: left;
        box-sizing: border-box;
        width: 30%;
    }

    div.left ul {
        list-style: none;
    }

    div.left ul li {
        padding: 10px;
        margin-bottom: 5px;
        background-color: lightblue;
        color: #fff;

    }

    div.left ul li:hover {
        background-color: darkblue;
    }

    div.right {
        float: right;
        width: 60%;
    }

    section {
        clear: both;
        padding: 10px;
    }

    figure {
        float: left;
    }

    figure img {
        width: 120px;
    }

    figure+p {
        clear: both;
    }

    footer {
        background-color: purple;
        height: 100px;
        margin-top: 20px;
        color: white;
        vertical-align: middle;
        position: relative;
    }

    footer p {
        position: absolute;
        top: 25%;
        left: 10px;
    }
}

footer {
    background-color: purple;
    height: 100px;
    margin-top: 20px;
    color: white;
    vertical-align: middle;
    position: relative;
}

footer p {
    position: absolute;
    top: 25%;
    left: 10px;
}